a {
	font-size: 14px;
	font-style: ubuntu;
}

/* Header */

header {
	display: flex;
	flex-direction: column;
	margin: 0px auto;

	max-width: 1275px;
}

.header-up-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #CBD8E9;

	padding: 18px 0;
}

.header-up-nav a{
	text-decoration: none;
	color: #6E9BB8;

	font-size: 12px;
}

.header-down-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;

	padding: 20px 0 0 0;
}

.header-down-nav a {
	text-decoration: none;
	color: #0000DE;

	font-size: 18px;
}

.header-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	align-items: center;
}

.header-nav__home-page {
	margin-right: 68px;
}

.header-nav__location {
	margin-right: 60px;
	padding-left: 22px;

	background-image: url(sources/location.svg);
	background-position: left center;
	background-repeat: no-repeat;
}

.header-nav__links {
	display: flex;

	justify-content: space-between;
	margin: 0 0;
	padding: 0;

	list-style-type: none;
}

.header-nav__link {
	margin-right: 24px;
}

.header-nav__link.contacts {
	padding-right: 22px;
	margin-right: 0px;

	background-image: url(sources/map.svg);
	background-position: right center;
	background-repeat: no-repeat;
}

.header-nav__language {
	background-color: #FFFFFF;
	text-decoration: none;

	border-radius: 2px;

	padding: 4px;
}

.nav {
	display: flex;
	justify-content: space-between;

	flex: 2;
}

.nav__links {
	display: flex;
	justify-content: space-between;
	padding: 0;

	list-style-type: none;
}

.nav__links li {
	display: inline-block;
	margin: auto 28px auto 0;
	padding: 0;
}

.nav-link__calc {
	margin: auto 0px;
}

.nav__phone {
	display: flex;
	margin: auto 0;
}

.nav__phone-number {
	font-size: 16px;
	font-weight: bold;
	color: #0000DE;
}

.header-down__buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	flex: 1;
}

.nav__search {
	margin: auto 16px;
}

.nav__buttons {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0px;
	align-items: center	;
	list-style-type: none;

	width: 100%;
}

.nav_buttons li {
	height: 100%;
	display: flex;
	align-items: center;
}

.nav__button {
	background: #0000DE;
	border-radius: 20px 0px;
	height: 100%;
	width: 100%;
	padding: 14px 0px;
	border: none;
	align-items: center;
}

.nav__button a {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav__button-personal-area a{
	color: #FFFFFF;
}

.nav__button-online-application {
	background-color: #FFFFFF;
	margin-left: 16px;
}

.nav__button-online-application a{
	color: #0000DE;
}

/* hot-news */


.hot-news {
	display: flex;
	flex-direction: row;
	margin: 100px auto 0px auto;
	justify-content: space-between;
	max-width: 1275px;
}

.hot-news-content {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.hot-news-content__h1 {
	font-size: 44px;
	font-weight: bold;
	margin: 0;
}

.hot-news__important-span {
	color: #0000DE;
}

.hot-news-content__description {
	font-size: 18px;
	font-weight: lighter;
	padding: 5px 0 30px 0;
	margin: 0;
}

.hot-news-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start
}

.hot-buttons {
	display: flex;
	justify-content: space-between;
	padding: auto 0;
	margin: 0;
	align-items: center	;
	list-style-type: none;
	flex-direction: row;

	height: fit-content;
	width: 50%;
}

.hot-button {
	background: #0000DE;
	border-radius: 20px 0px;
	width: 100%;
	padding: 14px 14px;
	margin-right: 20px;
	border: none;
	text-align: center;

	font-size: 16px;
	text-decoration: none;
}

.invest-button {
	color: #FFFFFF;
}

.more-about-button {
	color: #0000DE;
	background-color: #FFFFFF;
	padding: 14px 20px;
}

.hot-news-buttons__slidebar {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	height: auto;
	width: auto;

	margin-left: 30px;
}

.slider-circle {
	width: 8px;
	height: 8px;
	margin: 3px;
	background-color: #C3D1E1;

	border-radius: 50%;
}

.slider-circle:hover {
	background-color: #0000DE;
}

.hot-news__slider {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.slider-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 6px;
	border: none;
	background-color: #FFFFFF;
	
}

.slider-button:active {
	background-color: #C3D1E1;
}

.slider-to-right {
	transform: scaleX(-1)
}

/* head content background */

.head-content__background {
	position: relative;
	padding-bottom: 120px;


}

.head-content__background-color {
	position: absolute;
	background-color: #F0F4F8;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -3;
}

.head-content__images {
	position: absolute;
	width: 100%;
	height: 70%;
	bottom: 0;
	right: 0;
	z-index: -1;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	align-items: end
}

.background__spots {
	margin: auto;
	bottom: 10hv;
}

.background__left-spot{
 margin-left: 10vh;

}

.background__right-spot {
	margin-right: 10vh;
}

.background__happy-man {
	height: 365px;
}

/* recommend */

main {
	display: flex;
	flex-direction: column;
	margin: 0px auto;

	max-width: 1275px;
}

.recommend {
	margin-bottom: 180px;
}

.recommend h1 {
	font-size: 34px;
	font-weight: lighter;

	margin-bottom: 30px;
}

.recommend-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 16px;
}

.recommend-content h3 {
	margin: 0;
	font-size: 14px;
	color: #79A6C3;
}

.recommend-content h2 {
	font-size: 24px;
	font-weight: bold;
}

.recommended-block {
	background-color: #F0F4F8;
	border-radius: 6px;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.recommend-long-block-1 {
  grid-column: 1 / span 2;
	grid-row: 1 / span 1;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.recommend-short-block-1 {
	grid-column: 2;
	grid-row: 1;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.recommend-short-block-2 {
	grid-column: 1;
	grid-row: 2;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.block-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	padding: 40px;
	padding-top: 32px;
}

.recommend-content__img {
	position: relative;
	flex: 1;
}

.recommend-content__img img{
	position: absolute;
	max-width: 100%;
	bottom: 0;
	left: 0;
}

.recommend-long-block-2 {
	grid-column: 2 / span 2;
	grid-row: 2 / span 1;
}

.recommend-short-block {
	grid-column: span 1;
	grid-row: span 1;
}

.block-content__info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.digital-info__important-info {
	color: #355DFB;
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 14px;
	margin: 0;
}

.recommend-content__desc {
	font-size: 16px;
	font-weight: lighter;
	color: #6E9BB8;
	margin: 26px 0;
}

.recommend-buttons {
	height:fit-content;
	width: 100%;
}

.recommend-buttons a {
	font-size: 14px;
}

.digital-info__desc {
	margin: 0;
}

.digital-info__block {
	flex: 1;
}

.recommend-content__img-short {
	position: relative;
	flex: 1;
}

.recommend-content__img-short img{
	position: absolute;
	width: 150%;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}


.recommend-content__img-not-close img {
	position: absolute;
	max-width: 80%;
}

/* finance calc */

.calc {
	display: flex;
	flex-direction: column;
	border-radius: 64px 6px 6px 64px;
	padding: 0 5% 5% 5%;
	max-width: 1370px;;
	background-color: #F0F4F8;
}

.calc__choice-bg {
	box-sizing: border-box;
	display: flex;
	width: 100%;

	justify-content: center;
	margin-bottom: 50px;
}

.calc__choice {
	position: relative;
	top: -50px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.calc__choice a {
	display: flex;
	align-items: center;
	width: auto;
	font-size: 27px;
	font-weight: lighter;
	flex: 1;
	padding: 36px 36px 36px 136px;
	border-radius: 10px;
	text-decoration: none;
	background-color: #0000DE;
	color: #FFFFFF;
}

.calc__invest {
	background-image: url(sources/invest-arrow.svg);
	background-repeat: no-repeat;
	background-position: left 30px center;
	margin-right: 15px;
}

.calc__inst-plan {
	background-image: url(sources/trolley.svg);
	background-repeat: no-repeat;
	background-position: left 30px center;
}

